<div id="wrapper">
    <h1 class="thicker">Eat Da Burger</h1>

    <h2 class="thicker">Add a Burger</h2>
    <form class="create-form">

        <div class="form-group">
            <label for="ca">Burger Name:</label>
            <input type="text" id="ca" name="name">
        </div>

        <button type="submit">Add Burger</button>
    </form>

    <h3 class="thicker">Burgers</h3>
    <div id="burgers" >
        <ul>
            {{#each burgers}}
            {{#unless this.devoured}}
            {{this.burger_name}}
            <button class="devour-it" data-id="{{this.id}}">Devour it!</button><br><br>
            {{/unless}}
            {{/each}}
        </ul>
    </div>

    <h3 class="thicker">Eaten Burgers</h3>
    <div id="eaten-burgers">
        <ul>
            {{#each burgers}}
            {{#if this.devoured}}
            {{this.burger_name}}<br><br>
            {{/if}}
            {{/each}}
        </ul>
    </div>

</div>