.header-bg {
    background-color:red;
    color:white;
}
.header {
    color:red;
}
ul {
    list-style-type: none;    
}
img {
    max-height:200px;
}
.btn-mustard {
    background-color:gold;
    color:white;
}

.btn-ketchup {
    background-color:red;
    color:white;
}